<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head
        th:replace="~{fragment/_meta::_meta_common(~{::title},~{::link},~{::style})}">
    <meta charset="utf-8">
    <title>配置参数管理</title>
    <link>
    <style type="text/css"></style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span
        class="c-gray en">&gt;</span> 配置参数管理 <a class="btn btn-success radius r" onclick="location.reload()"
                                              style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray"> <span class="l">
	<a sec:authorize-expr="hasPermission(#authorization.authentication,'button','dict_bat_delete')" href="javascript:;"
       class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
	<a sec:authorize-expr="hasPermission(#authorization.authentication,'button','dict_add')"
       class="btn btn-primary radius" href="javascript:;" onclick="admin_dict_add('添加角色','/dict/add','800')"><i
            class="Hui-iconfont">&#xe600;</i> 添加配置参数</a>
	 </span> <span class="r">共有数据：<strong>54</strong> 条</span></div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="6">配置参数管理</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="40">编号</th>
            <th width="200">唯一编码</th>
            <th width="200">值</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c" th:each="row,rowStatus:${list}">
            <td><input type="checkbox" th:value="${row.id}" name=""></td>
            <td th:text="${row.id}">1</td>
            <td th:text="${row.key}"></td>
            <td th:text="${row.value}"></td>
            <td class="f-14">
                <a sec:authorize-expr="hasPermission(#authorization.authentication,'button','dict_edit')" title="编辑"
                   href="javascript:;" th:onclick="|admin_dict_edit('配置参数编辑','/dict/edit','${row.id}')|"
                   style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="~{fragment/_footer::_footer}"></div>
<!--请在下方写此页面业务相关的脚本-->
<!-- <script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> -->
<script type="text/javascript">

    /*
     参数解释：
     title	标题
     url		请求的url
     id		需要操作的数据id
     w		弹出层宽度（缺省调默认值）
     h		弹出层高度（缺省调默认值）
     */
    /*查看*/
    function admin_dict_view(title, url, id, w, h) {
        layer_show(title, url + "?id=" + id, w, h);
    }

    /*
    参数解释：
    title	标题
    url		请求的url
    id		需要操作的数据id
    w		弹出层宽度（缺省调默认值）
    h		弹出层高度（缺省调默认值）
    */
    /*编辑*/
    function admin_dict_edit(title, url, id, w, h) {
        layer_show(title, url + "?id=" + id, w, h);
    }

    /*
      参数解释：
      title	标题
      url		请求的url
      id		需要操作的数据id
      w		弹出层宽度（缺省调默认值）
      h		弹出层高度（缺省调默认值）
      */
    /*新增*/
    function admin_dict_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    //$(document).off("click",".btn-danger");
    //$(document).on("click",".btn-danger",function(){});
    //删除
    $(".btn-danger").off("click");
    $(".btn-danger").on("click", function (e) {
        //获取IDs
        var datas = $("tbody input:checkbox:checked");
        if (!datas || datas.length < 1) {
            layer.alert("请选择删除的数据！");
            return;
        }
        var checkedList = new Array();
        $.each(datas, function (index, data) {
            checkedList.push($(data).val());
        });
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '/dict/batchDel',
                data: {
                    ids: checkedList.join(",")
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == Result.SUCCESS) {
                        layer.msg('删除成功!', {
                            icon: 1,
                            time: 3000
                        });
                        $(".btn-success").click();
                    } else {
                        layer.msg(data.msg, {
                            icon: 1,
                            time: 3000
                        });
                    }
                }
                /* error:function(data) {
                    console.log(data.msg);
                }, */
            });
        });
    });
</script>
</body>
</html>