<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="~{fragment/_meta::_meta_common(~{::title},~{::link},~{::style})}">
    <link>
    <title>编辑规则信息</title>
    <meta charset="utf-8">
    <style type="text/css"></style>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-task-edit">
        <input type="hidden" th:value="${p.id}" name="id"/>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>规则名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off"
                       placeholder="规则名称" id="name" name="name" th:value="${p.name}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>规则代码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off"
                       placeholder="规则名称" id="code" name="code" th:value="${p.code}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>规则类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="radio-box">
                    <input type="radio" id="sex-1" name="type" value="2" th:checked="${p.type eq '2'}">
                    <label for="sex-1">自然语言</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sex-2" name="type" value="1" th:checked="${p.type eq '1'}">
                    <label for="sex-2">正则表达式</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sex-3" name="type" value="3" th:checked="${p.type eq '3'}">
                    <label for="sex-3">模糊匹配</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>规则值</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="value" cols="" rows="" class="textarea valid" placeholder="规则值"
                          dragonfly="true" th:text="${p.value}"></textarea>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;修改规则&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<div th:include="~{fragment/_footer::_footer}"></div>
<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript" th:inline="javascript" >
    $(function () {

        $("#form-task-edit").validate({
            rules: {

            },
            messages: {},
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $.ajax({
                    type: 'post',
                    data: $(form).serialize(),
                    url: "/regular/info/update",
                    dataType: "json",
                    success: function (data) {
                        if (data.code == Result.SUCCESS) {
                            parent.layer.msg(data.msg, {icon: 1, time: 3000});
                            //关闭
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.$('.btn-success').click();
                            parent.layer.close(index);
                        } else if (data.code == Result.FAIL) {
                            parent.layer.msg(data.msg, {icon: 1, time: 3000});
                        } else {
                            console.log(data);
                        }
                    }
                });
            }
        });


    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>